.container-tag {
  display: inline-block;
  width: fit-content;
  height: auto;
  margin: 0 8px 8px 0;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  color: rgba(255, 252, 252, 1);
  border: 1px solid rgba(255, 252, 252, 1);
  border-radius: 2px;
  cursor: default;
  opacity: 1;
  font-weight: 500;
  transition: 0.2s;
}

.dark {
  background: rgba(50, 100, 180, 0.8);
  border: 1px solid rgba(255, 252, 252, 1);
}

.light {
  background: rgba(50, 100, 180, 0.5);
  border: 1px solid rgba(255, 252, 252, 0.7);
}

.container-tag:hover {
  filter: brightness(0.92);
}
