.container-experiencie {
  display: flex;
  flex-direction: column;
}

.container-experiencie h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 3;
}

.container-experiencie section {
  background-color: #fff;
  padding: 24px;
  margin: 0 24px;
}

.container-experiencie section ul {
  width: 100%;
}

.container-experiencie section ul li {
  display: flex;
  flex-direction: column;
}

div.container-work {
  display: flex;
  width: 100%;
  flex: 1;
}
div.container-work .company .divider {
  display: none;
}

div.container-work .company {
  display: flex;
  max-width: 30%;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

div.container-experiencie .company img {
  height: 46px;
  margin-bottom: 8px;
}

div.container-work .resume {
  display: flex;
  max-width: 70%;
  flex: 1;
}
.resume ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.resume .experience > li + li {
  margin-top: 12px;
}

.resume ul li h4 {
  font-size: 14px;
  text-align: start;
  line-height: 2;
}

.resume ul li p {
  font-size: 14px;
  line-height: 1.25;
}

.resume ul li .achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

.resume ul li .achievements li .divider {
  margin: 12px 0;
  background: rgba(0, 0, 0, 0.05);
}

.resume ul li .achievements li svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 1250px) {
  div.container-work {
    flex-direction: column;
    align-items: center;
  }
  div.container-work .company,
  div.container-work .resume {
    width: 100%;
    max-width: 100%;
  }
  div.container-work .company .divider {
    display: flex;
    background: rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 768px) {
  .container-experiencie section {
    padding: 12px;
  }
}
