.container {
  display: flex;
}

.container main {
  width: 100%;
  flex: 1;
  max-height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

@media print {
  ::-webkit-scrollbar {
    width: 0 !important;
  }
}
