.divider {
  width: calc(100% - 24px);
  min-width: calc(100% - 24px);
  height: 1px;
  margin: 24px auto;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgba(22, 33, 53, 0.65);
  font-weight: 700;
  display: flex;
  padding: 0;
}

.divider span {
  display: table;
  margin: 16px 0;
  padding: 0 16px;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  background: transparent;
}

.left.divider::before {
  position: relative;
  top: 50%;
  display: table-cell;
  width: 5%;
  border-top: 1px solid #f0f0f0;
  transform: translateY(50%);
  content: '';
}

.left.divider::after {
  position: relative;
  top: 50%;
  display: table-cell;
  width: 95%;
  border-top: 1px solid #f0f0f0;
  transform: translateY(50%);
  content: '';
}
