.container-skills {
  display: flex;
  background: #fff;
  margin: 0 24px;
  border-radius: 3px;
}

.container-skills section {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding: 24px;
}

.container-skills section h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 2;
}

.list-skills {
  display: inline-block;
}

@media (max-width: 768px) {
  .container-skills {
    flex-direction: column;
  }
}
